<div class="contents row" >
  <%=  link_to @user.name %>さんの<%=image_tag ('star.png'), :size => '18x12' %> <%=image_tag ('star.png'), :size => '18x12' %> <%=image_tag ('star.png'), :size => '18x12' %>

  <div class="comments">
    <%= render @reviews  %>
  </div>
</div>