  <div class = "box_info">
   <div class="contents row" >
      <%=  link_to @user.name %>さんの<%=image_tag ('comment.png'), :size => '18x12' %>
    <div>
      <strong class = pic>
        <%=image_tag ('restaurant.png'), :size => '18x12' %>
        <%= "#{@reviews.length}件" %>
      </strong>
  </div>


    <div class = "box_info">
      <strong class = pic>
        <%=image_tag ('star.png'), :size => '18x12' %>
        <%= "#{@reviews.length}点" %>
      </strong>
    </div>

  <div class="comments">
    <%= render @reviews  %>
  </div>
