
<div id="map"></div>
<%= javascript_tag do %>
  window.restaurants = <%= raw @restaurants.to_json %>;
<% end %>

<script>
var infoWindow;
var infoWindows;

// 位置情報取得成功時
navigator.geolocation.getCurrentPosition(
    function (pos) {

        //現在地の緯度経度の取得/////////////////////////////////
        var location ="<li>"+"緯度：" + pos.coords.latitude + "</li>";
        location += "<li>"+"経度：" + pos.coords.longitude + "</li>";
        lat = pos.coords.latitude;
        lng = pos.coords.longitude;


        //zoom,中心地の定義/////////////////////////////////////
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: {lat: lat, lng: lng}
        });


        //現在地の表示//////////////////////////////////////////
        // var you_are_here = new google.maps.Marker( {
        //     map: map ,  // 地図
        //     position: new google.maps.LatLng( lat, lng ) , // 位置座標
        //     icon: {
        //         url:'http://irlday.org/img/yorokobu.png',
        //         scaledSize: new google.maps.Size( 50, 50 ) ,
        //     },
        //     animation: google.maps.Animation.BOUNCE
        // } ) ;


        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.


        //DBの指定先の表示///////////////////////////////////////
        var markers = locations.map(function(location, i) {
            //console.log(markers);
          return new google.maps.Marker({
            position: location,
            //animation: google.maps.Animation.BOUNCE
          });
        });


        // Add a marker clusterer to manage the markers.///////
        //かっこいい表記
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        //console.log('test');


        //吹き出し(you_are_here)////////////////////////////////
        infoWindow = new google.maps.InfoWindow(
        { // 吹き出しの追加
          // 吹き出しに表示する内容
            content: '<div>YOU ARE HERE</div>' // 吹き出しに表示する内容
        });
        you_are_here.addListener('click', function() { // マーカーをクリックしたとき
        infoWindow.open(map, you_are_here); // 吹き出しの表示
        });

        var j;
        for (j = 0; j < markers.length ; j ++){
            //吹き出し(makers)//////////////////////////////////
            var marker = markers[j];

            restaurant = restaurants[j];
            //console.log(restaurants[0]);
            var content = '<a href=" /restaurants/' + restaurant.id +'"" >' + restaurant.name +'</a>'+ '<br>' +'<a>' + restaurant.tel + '</a>';

            var infowindow = new google.maps.InfoWindow()

            google.maps.event.addListener(marker,'click', (function(marker, content, infowindow){
                return function() {
                    infowindow.setContent(content);
                    infowindow.open(map,marker);
                };
            })(marker, content, infowindow));


        }
    });


        //DBの取得
        var i ;
        var longitudes = <%= @longitude.to_s.html_safe %>;
        var latitudes = <%= @latitude.to_s.html_safe %>;
        var locations = [];
        for (i = 0; i < longitudes.length; i++){
            var hash_lat = {};
            var hash_lng = {};
            var hash_lat_lng = {};
            hash_lat['lat'] = Number(latitudes[i]);
            hash_lng['lng'] = Number(longitudes[i]);
            hash_lat_lng = Object.assign(hash_lat, hash_lng);
            locations.push(hash_lat_lng);
        }
</script>
<script>
function initMap(){};
</script>




<!-- Google map の仕様 -->
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP'] %>&callback=initMap" data-turbolinks-eval="false">
window.google = {};
</script>

<!-- <script>
$(document).ready(function() {
  initMap();
});
</script> -->