
<div class = "contents clearfix">
    <div id = image_restaurant>
      <img src="<%= @restaurant.imaege %>" alt="写真" >
    </div>
    <div class = "big_box_info">
    <div class = "box_info">
      <div class ="pic">
        <%=image_tag ('restaurant.png'), :size => '18x12' %>
        <%= @restaurant.name %>
      </div>
    </div>
      <% if @restaurant.reviews.present? %>
        <div class = "box_info">
          <div class ="pic">
            <%=image_tag ('star.png'), :size => '18x12' %>
          </div>

          <div class="star-actived">
           <% rate_avg = @restaurant.review_average %>
              <% if 0.0< rate_avg && rate_avg<= 0.5 %>
                <% rate_avg = "rate rate00"%>
              <%elsif 0.5< rate_avg && rate_avg<= 1.0%>
                <% rate_avg = "rate rate05"%>
              <%elsif 1.0< rate_avg && rate_avg<= 1.5%>
                <% rate_avg = "rate rate10"%>
              <%elsif 1.5< rate_avg && rate_avg<= 2.0%>
                <% rate_avg = "rate rate15"%>
              <%elsif 2.0< rate_avg && rate_avg<= 2.5%>
                <% rate_avg = "rate rate20"%>
              <%elsif 2.5< rate_avg && rate_avg<= 3.0%>
                <% rate_avg = "rate rate25"%>
              <%elsif 3.0< rate_avg && rate_avg<= 3.5%>
                <% rate_avg = "rate rate30"%>
              <%elsif 3.5< rate_avg && rate_avg<= 4.0%>
                <% rate_avg = "rate rate35"%>
              <%elsif 4.0< rate_avg && rate_avg<= 4.5%>
                <% rate_avg = "rate rate40"%>
              <%elsif 4.5< rate_avg && rate_avg<= 5.0%>
                <% rate_avg = "rate rate45"%>
              <%elsif rate_avg = 5.0%>
                <% rate_avg = "rate rate50"%>
              <% end %>
           <div class ="<%= rate_avg %>"></div>
          </div>
        </div>
      <% else %>
        <span class="rating-star">
          <i class="star-actived rate-0"></i>
        </span>
      <% end %>

      <div class = "box_info">
        <div class ="pic">
          <%=image_tag ('tel.png'), :size => '18x12' %>
          <%= @restaurant.tel %>
        </div>
      </div>

      <div class = "box_info">
        <div class ="pic">
          <%=image_tag ('clock.png'), :size => '18x12' %>
          <%= @restaurant.open_time %>
        </div>
      </div>

      <div class = "box_info">
        <div class ="pic">
          <%=image_tag ('money.png'), :size => '18x12' %>
          <%= @restaurant.budget %>
        </div>
      </div>

      <div class = "box_info">
        <div class ="pic">
          <%=image_tag ('map.png'), :size => '18x12' %>
          <%= @restaurant.adress %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reviews_see">
    <% if @reviews %>
      <% @reviews.each do |review| %>
        <p>
          <div class ="box_info">
            <strong class = pic>
              <%= link_to review.user.name, "/users/#{review.user_id}" %>さんの<%=image_tag ('star.png'), :size => '18x12' %>
            </strong>

            <div class="star-actived">
             <% rate_avg = review.rate %>
            <% if 0.0< rate_avg && rate_avg<= 0.5 %>
              <% rate_avg = "rate rate05"%>
            <%elsif 0.5< rate_avg && rate_avg<= 1.0%>
              <% rate_avg = "rate rate10"%>
            <%elsif 1.0< rate_avg && rate_avg<= 1.5%>
              <% rate_avg = "rate rate15"%>
            <%elsif 1.5< rate_avg && rate_avg<= 2.0%>
              <% rate_avg = "rate rate20"%>
            <%elsif 2.0< rate_avg && rate_avg<= 2.5%>
              <% rate_avg = "rate rate25"%>
            <%elsif 2.5< rate_avg && rate_avg<= 3.0%>
              <% rate_avg = "rate rate30"%>
            <%elsif 3.0< rate_avg && rate_avg<= 3.5%>
              <% rate_avg = "rate rate35"%>
            <%elsif 3.5< rate_avg && rate_avg<= 4.0%>
              <% rate_avg = "rate rate40"%>
            <%elsif 4.0< rate_avg && rate_avg<= 4.5%>
              <% rate_avg = "rate rate45"%>
            <%elsif 4.5< rate_avg && rate_avg<= 5.0%>
              <% rate_avg = "rate rate50"%>
            <% end %>
             <div class ="<%= rate_avg %>"></div>
            </div>
          </div>
        </p>
      <% end %>
    <% end %>
</div>

<div id = restaurant_fotter>
  <% if current_user %>
    <%= form_for [@restaurant, @review] do |f| %>
<!--       <div style="margin: 8px 0">-->
        <div class = "box_info">
          <div class = "pic">
            <%=image_tag ('pen.png'), :size => '18x12' %>
          </div>
          <div class = "info">
            <%= f.number_field :rate, placeholder: 'Rate', value: 1, max: 5, min: 1, html: { class: "search__query", style: 'text-align: right;' } %>
          </div>

          <div class="col10 push1">
            <%= button_tag type: "submit", class: "btn btn--block" do %>
          投稿する<i class="icon-arrow-right"></i>
          </div>
        </div>
<!--       </div> -->
    <% end %>
  <% end %>
  <% end %>
</div>