


      <p>
        <%=image_tag ('restaurant.png'), :size => '30x20' %>
        <strong><%= link_to review.restaurant.name, "/restaurants/#{review.restaurant_id}" %></strong><br>
        <%=image_tag ('star.png'), :size => '30x20' %>
        <%= review.rate %><br>
<!--         <%= "コメント: #{review.review}" %>
 -->

        <% if user_signed_in? && current_user.id == review.user_id %>
              <li>
                <%=image_tag ('glass.png'), :size => '30x20' %>
                <%= link_to '編集', "/reviews/#{review.id}/edit", method: :get %>
              </li>
              <li>
                <%=image_tag ('trash.png'), :size => '30x20' %>
                <%= link_to '削除', "/reviews/#{review.id}", method: :delete %>
              </li>
            <% end %>

      </p>
