<!DOCTYPE html>
<html>
  <head>
    <title>お店探すやつ</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
    <meta charset="utf-8">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
 <script type=”text/javascript” src=”http://maps.google.com/maps/api/js?sensor=true“ data-turbolinks-eval="false"></script>    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 97%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  
  </head>

   <header class="header">
    <div class="header__bar row">
      <h1 class="grid-6"><a href="/">お店探すやつ</a></h1>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <span><%= "#{current_user.name}さん" %>
            <ul class="user__info">
              <li>
                <a href="/users/<%= current_user.id %>">マイページ</a>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </div>
      <% end %>
    </div>
  </header>

  <%= yield %>

    <footer>
      <p>
        Powered by <br>
        <a href="http://webservice.recruit.co.jp/">ホットペッパー Webサービス</a>
      </p>
    </footer>
  </body>
</html>